@font-face
  font-family: 'Transgender Grotesk'
  src: url('static/fonts/transgendergrotesk-webfont.woff2') format('woff2')
  src: url('static/fonts/transgendergrotesk-webfont.woff') format('woff')

$font-color: #414040
$background-color: #F1B8FF
// pink ff77bb
$bluelucy: #0695FF
*
  font-family: Transgender Grotesk !important
.v-application
  font-family: Transgender Grotesk !important
.headline,
.title,
.subheading
  font-family: Transgender Grotesk !important

.body
  font-family: Transgender Grotesk !important
  background-color: white
  overflow-y: none !important
  height: 100%
  position: fixed
  overscroll-behavior-x: none !important
p
  text-align: center
  text-align: -webkit-center

html
  overflow: hidden
  width: 100%
  overscroll-behavior-x: none !important

@keyframes vibration
  0%
    transform: translate(0)
  20%
    transform: translate(-2px, 2px)
  40%
    transform: translate(-2px, -2px)
  60%
    transform: translate(2px, 2px)
  80%
    transform: translate(2px, -2px)
  100%
    transform: translate(0)

@keyframes blinker
  50%
    opacity: 0

@keyframes rotateshadow
  0%
    box-shadow: inset 0px 22px 22px rgb(0 0 0 / 55%), inset 0px 6px 21px rgb(255 255 255 / 50%)
  25%
    box-shadow: inset 22px 0px 22px rgb(0 0 0 / 55%), inset 0px 6px 21px rgb(255 255 255 / 50%)
  50%
    box-shadow: inset 0px -22px 22px rgb(0 0 0 / 55%), inset 0px 6px 21px rgb(255 255 255 / 50%)
  75%
    box-shadow: inset -22px 0px 22px rgb(0 0 0 / 55%), inset 0px 6px 21px rgb(255 255 255 / 50%)
  100%
    box-shadow: inset 0px 22px 22px rgb(0 0 0 / 55%), inset 0px 6px 21px rgb(255 255 255 / 50%)

@keyframes rotateshadowmobile
  0%
    box-shadow: inset 0px 12px 12px rgb(0 0 0 / 55%), inset 0px 3px 12px rgb(255 255 255 / 50%)
  25%
    box-shadow: inset 12px 0px 12px rgb(0 0 0 / 55%), inset 0px 3px 12px rgb(255 255 255 / 50%)
  50%
    box-shadow: inset 0px -12px 12px rgb(0 0 0 / 55%), inset 0px 3px 12px rgb(255 255 255 / 50%)
  75%
    box-shadow: inset -12px 0px 12px rgb(0 0 0 / 55%), inset 0px 3px 12px rgb(255 255 255 / 50%)
  100%
    box-shadow: inset 0px 12px 12px rgb(0 0 0 / 55%), inset 0px 3px 12px rgb(255 255 255 / 50%)
