@font-face
  font-family: 'Transgender Grotesk'
  src: url('static/fonts/TransgenderGrotesk/TransgenderGrotesk-Regular-Web.woff2') format('woff2')
  src: url('static/fonts/TransgenderGrotesk/TransgenderGrotesk-Regular-Web.woff') format('woff')
  font-weight: normal
  font-style: normal

$font-color: #414040
$menu-color: #707070

.v-application
  background-color: white
  font-family: Transgender Grotesk !important

@keyframes vibration
  0%
    transform: translate(0)
  20%
    transform: translate(-2px, 2px)
  40%
    transform: translate(-2px, -2px)
  60%
    transform: translate(2px, 2px)
  80%
    transform: translate(2px, -2px)
  100%
    transform: translate(0)
